
#drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: #bbb;
  margin:5px;        
}

.frame {    
  border: solid 1px #ccc;
  margin-top:10px;  
}

.graphsvg{
  height:100%;
  user-select: none;
}