@charset "utf-8";
/* CSS General Stylesheet */
body, html{
	height: 100%;
	width: 100%;
	margin: auto;
	max-width:1800px;
	text-family: Sans-Serif;
	text-decoration: none;
	overflow: hidden;
}
h1, h2, h3, h4{
    font-family: Sans-Serif;
}
strong{
    font-family: Sans-Serif;
}
#wrapper{
    padding:5px;
	width:98%;
	height: 98%;
	
}

#generatorDiv {
    display: flex;
    align-items: center;
}

#container{
    padding:5px;
	width:100%;
	height: 5%;	
}

.input-titles{
    width:auto;
}

.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
.example{
    display: inline-block;
    padding: 20px;
    text-align: center;
	border-style: solid;
	border-radius: 4px;
    cursor: pointer;
}
#dragNdrop{
    padding-top:10px;
    height:20%;
    
}

#selectableMenu{
    display: inline;
}
#Canvas{
	width: 100%;
	height: 80%;
	margin-bottom:5px;
    

}

#spanningtree{
	width: 100%;
	height:100%;
	text-align: center;
	border-style: solid;
	border-radius: 4px;
	float: left;
    overflow: hidden;
}

#networkMenu {
    width: 100%;
	height:5%;
    vertical-align: middle;
}

#graph{
	width: 100%;
	height:100%;
	text-align: center;
	float: left;
    overflow: hidden;
}

.dashed {
            stroke-dasharray: 5,5;
        }

#sidebar-right{
	width:0%;
	height:100%;
    display: inline-block;
	border-style: solid;
	border-radius: 4px;
	float:right;
    padding: 10px 5px;
    overflow-y:scroll;
}

.timegraph{
    margin: 10px;
}

.ticks {
      font-size: 10px;
    }

    .track,
    .track-inset,
    .track-overlay {
      stroke-linecap: round;
    }

    .track {
      stroke: #000;
      stroke-opacity: 0.3;
      stroke-width: 10px;
    }

    .track-inset {
      stroke: #ddd;
      stroke-width: 8px;
    }

    .track-overlay {
      pointer-events: stroke;
      stroke-width: 50px;
      stroke: transparent;
      cursor: crosshair;
    }

    .handle {
      fill: #fff;
      stroke: #000;
      stroke-opacity: 0.5;
      stroke-width: 1.25px;
    }

#timeslider{
	float: left;
	display: flex;
	width:75%;
	margin:10px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

svg{
    width:100%;
    height:100%;
}

#timegraphbutton{
	
	display:flex;
	float:right;
	justify-content: center;
	height: 30px;
    margin-top:2px;
    padding-top:0.175em;
    margin-left:10px;
}
#saveButtonLayout{
	
	display:flex;
	float:right;
	justify-content: center;
	height: 30px;
    margin-top:2px;
    padding-top:0.175em;
    margin-left:10px;
}
#loadLayout{	
	display:flex;
	float:right;
	justify-content: center;
	height: 30px;
    margin-top:2px;
    padding-top:0.175em;
    margin-left:10px;
}
#saveButton{
	
	display:flex;
	float:right;
	justify-content: center;
	height: 30px;
    margin-top:2px;
    padding-top:0.175em;
    margin-left:10px;
}
#legendButton{
	display:flex;
	float:right;
	justify-content: center;
	height: 30px;
    margin-top:2px;
    padding-top:0.175em;
    margin-left:10px;
}
#navbarDropdown{
    height: 30px;
    margin-top:2px;
    padding-top:0.175em;
}
#downloadIcon{
	height: 30px;
    margin-right:5px;
    margin-top:5px;
}
#uploadIcon{
	height: 30px;
    margin-right:5px;
    margin-top:5px;
}
.button{
 
	border: 3px;
	border-color: black;
	border-radius: 2pt;
    color: black;
    padding: 5pt;
	margin:3pt;
	text-family: Arial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    vertical-align: middle;
}

.navbar {
    height:5%;
}

.playbuttonWraper{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion{
    padding-top:5px;
    padding-bottom: 5px;
}
#presets{
    margin-bottom: 5px;
}
