.topBus {
  fill: #ffffff;
  stroke: #000000;
}

.bottomBus {
  fill: #f9f8c2; /* alternative #ffe802*/
}

.outerGenerator {
  fill: #ffffff;
  stroke: #000000;
}
.innerGenerator {
  fill: #7e7e7e;
}

.generator > line{ 
  stroke: #000000;
  stroke-width: 1.5px;
}
.node > text {
  font-family: sans-serif;
  text-anchor: middle;
  pointer-events: none;
  font-size: 12px; 
}

text.shadow {
  font-family: sans-serif;
  stroke: white;
  stroke-width: 1.3px;
  opacity: 0.5;
}

.link {
  stroke: #ffffff;
  stroke-width: 4px;
    opacity: 0.5;
}

.bottomLinkRectangle {
     fill: #f9f8c2; /* alternative #ffe802*/
}

.flowline {
  fill: none;
  stroke: black;
  opacity: 1;
  stroke-width: 4;
  stroke-dasharray: 10, 4;
  animation: flow 1s linear infinite;
  -webkit-animation: flow 1s linear infinite;
}

.node:hover {
  cursor: -webkit-grab; cursor: grab;
}

.node. {
  fill: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

#zoomboxGroup:hover{
    cursor: pointer;
    user-select: none;
}
#zoomboxGroup{
    user-select: none;
}
