.d3-tip {
    line-height: 1;
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    background: #ffffff;
    color: #000000;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 10px;
    
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 2px;
}